<div class="row" ng-controller="ToWatchController" >
  <div class="col-md-2">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ol class="nav navbar-nav">
            <li class="active" ng-repeat="movie in watchList">
              <a href="#">{{movie.Title}}</a> <button class="btn btn-default" ng-click="removeFromWatchList()">remove</button>
            </li>
          </ol>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
</div>