.searchres {
    background-color: white;
    width: 25%;
}

.cntr-innr  a{
    font-size:25px;
     cursor: pointer;
}


.thumbnail {
    background-color: rgb(226, 219, 219);
}

.thing-form {
    margin: 20px 0;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.navbar-text {
    margin-left: 15px;
}


/*** COLORS ***/


/*** DEMO ***/

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: #913d88;
    font: 16px monospace;
    color: #ffffff;
}

p {
    margin-top: 30px;
}

.search a {
    color: #FFFFFF;
}


.cntr {
    display: table;
    width: 100%;
    height: 100%;
}

.cntr .cntr-innr {
    padding-top: 50px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}


/*** STYLES ***/

.search {
    display: inline-block;
    position: relative;
    height: 35px;
    width: 35px;
    box-sizing: border-box;
    margin: 0px 20px 7px 0px;
    padding: 7px 9px 0px 9px;
    border: 3px solid #ffffff;
    border-radius: 25px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
      cursor: pointer;
}

.search:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 20px;
    right: -5px;
    top: 21px;
    background: #ffffff;
    border-radius: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    cursor: pointer;
}

.search.active,
.search:hover {
    width: 300px;
    margin-right: 20px;
    cursor: pointer;
}

.search.active:after,
.search:hover:after {
    height: 0px;
    cursor: pointer;
}

.search input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 15px;
    color: inherit;
    background: transparent;
    outline-width: 0px;
    cursor: pointer;
}

.ui-corner-all{
    cursor: pointer;
}

.fill {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
