<div class="row" ng-controller="MovieController">
    <div class="col-lg-2" ng-repeat="movie in films" data='movie'>
        <div class="thumbnail">
            <img id="movieImage" ng-src={{movie.Poster}}>
            <div class="caption">
                <h4 class="">{{movie.Title}}</h4>
                <button class="btn btn-default" ng-click="logger3()">logger</button>
                <button class="btn btn-default" ng-click="watchList.push(movie)">Add</button>
                <p class="">Lorem ipsum dolor sit amet</p> 
                <a href="{{movie.YouTubeURL}}"  class="btn btn-default btn-xs" role="button"><i class="glyphicon glyphicon-play"></i></a>  
                <a href=""  class="btn btn-default btn-xs pull-right" role="button" ng-click=""><i class="glyphicon glyphicon-plus"></i></a>  
                <a href="{{movie.WikiURL}}"  class="btn btn-default btn-xs" role="button">Wiki</a>
            </div>
        </div>
    </div>
</div>
<!--/row-->
<!--/container -->