<!-- Your code here -->
<body ng-app="instantsearch">
    <div ng-controller="instantSearchCtrl">
        <h3 class="headName">Ajax Live search using AngularJs</h3>
        <div class="bar">
            <input type="text" class="search" ng-model="searchString" placeholder="Enter your search terms" />
        </div>
        <ul class="data-ctrl">
            <li ng-repeat="i in items | searchFor:searchString">
                <p>{{i.title}}</p>
            </li>
        </ul>
    </div>
</body>

